@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');


body {
    background-image: url("https://i.pinimg.com/originals/b1/39/96/b13996f663880163dcb0918023222562.jpg");
background-size: cover;
}

h1 {
	font-size: 3rem;
}

.deck
{
	width:70%;
	margin: 1.25rem auto;
	background: url("https://media.istockphoto.com/vectors/black-seamless-pattern-fabric-poker-table-minimalistic-casino-vector-vector-id651780598?b=1&k=6&m=651780598&s=612x612&w=0&h=W6cbfrOvKH0qhNH7yuJG7b_EqtxvmBZwDWSsUlYwqag=");
    background-size: contain;
    /*background-position-x: 73px;*/
	border:solid 1.875rem black;
	border-width: 2.5rem;
	padding: 0.625rem;
	border-radius:18rem;
	text-align: center;
	color:#fdbc02;
	font-family: 'Monoton', cursive;;
}

.card
{
	padding: 0.625rem;
	border: solid 0.063rem #808080;
	background-color: white;
	display: inline-block;
	border-radius: 0.625rem;
	font-size: 1.167rem;
	text-align: center;
	color:black;
	margin: 0.188rem;
}

.btn
{
	background:white;
	padding: 10px 20px;
	border-radius:30px;
	margin: 10px;
	display:inline-block;
	font-size: 1rem;
}

.card .value{
	font-size:2.5rem;
	font-family: sans-serif;
}

.card .suit
{
	background-image: url('../assets/images/suits.png');
    background-size: auto;

	height: 6.25rem;
	width: 5.625rem;
    text-align: center;
}

.card .diamonds
{
	background-position-y: 115px;
    background-position-x: 108px;
    background-size: 230px;
}

.card .hearts
{
    background-position-y: 215px;
    background-position-x: 206px;
    background-size: 230px;
}

.card .clubs
{
	background-position-y: 330px;
    background-position-x: 200px;
    background-size: 220px;
}
.card .spades {
    background-position-y: 216px;
    background-position-x: 338px;
    background-size: 230px;
} 

#hand {
	font-size: 2rem;
	font-weight: bold;
}

